{$SITE_DOMAIN:test.schenna43lp.de} {
    encode gzip zstd

    @api path /api/*
    reverse_proxy @api torball-api:8082

    @ws path /ws /ws/*
    reverse_proxy @ws websocket:3001

    reverse_proxy torball-web:80

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
